<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Reports-基于behave设计自动化测试框架-测试报告</title>
</head>
<body >

<h2 style="text-align:center"><b><strong>Reports - 自动化测试报告 - {{ AutoTest }}</strong> </b></h2><br>

    <table  border="1" cellpadding="5" cellspacing="0" style="margin-left:0.8em;">
        <caption style="text-align:left;color:blueviolet"> Analysis:<br> </caption>
         <tbody>
            <tr>
                <td style="text-align:center"> CasesTotal </td>
                <td style="text-align:center"> AutoCasesTotal </td>
                <td style="text-align:center"> CasesExecuteTotal </td>
                <td style="text-align:center"> Uptime </td>
                <td style="text-align:center"> Begintime </td>
                <td style="text-align:center"> Endtime </td>
            </tr>
            <tr>
                <td style="text-align:center"> {{ CasesTotal|default("NA") }} </td>
                <td style="text-align:center"> {{ AutoCasesTotal|default("NA") }}</td>
                <td style="text-align:center"> {{ CasesExecuteTotal|default("NA") }}</td>
                <td> {{ Uptime|default("NA") }}</td>
                <td> {{ Begintime|default("NA") }}</td>
                <td> {{ Endtime|default("NA") }}</td>
            </tr>
    </table>
<br>
    <table  border="1" cellpadding="5" cellspacing="0" style="margin-left:0.8em;">
        <tbody>
            <tr>
                <td> PassedRate </td>
                <td> FeaturesPassNum </td>
                <td> FeaturesFailedNum </td>
                <td> FeaturesSkippedNum </td>
            </tr>
            <tr>
                <td style="text-align:center;color:blue"> {{ PassedRate|default("NA") }}</td>
                <td style="text-align:center;color:green"> {{ FeaturesPassNum|default("NA") }} </td>
                <td style="text-align:center;color:red"> {{ FeaturesFailedNum|default("NA") }}</td>
                <td style="text-align:center;color:#a9a9a9"> {{ FeaturesSkippedNum|default("NA") }}</td>
            </tr>
       </tbody>
    </table >
<br><br><br>
    {% for f in features %}
        <hr class="hrLine" style="width:100%;border:none;border-top:1px solid skyblue "/>
        {% if f.Status == "Status.failed" %}
        <h3 style="text-align:left;color:red"><strong>Feature:{{ f.Feature|default("NA") }}  &emsp;&emsp; {{ f.Status|default("NA") }} &emsp;&emsp;{{ f.Filename|default("NA") }}</strong></h3>
        {% else %}
        <h3 style="text-align:left;color:green"><strong>Feature:{{ f.Feature|default("NA") }} &emsp;&emsp;{{ f.Status|default("NA") }} &emsp;&emsp;{{ f.Filename|default("NA") }}</strong></h3>
        {% endif %}
           <table border="1" cellpadding="5" cellspacing="0" style="margin-left:2em;">
                <caption style="text-align:left;color:blueviolet">Uptime:{{ f.Uptime|default("NA") }}&emsp;Begintime:{{ f.Begintime|default("NA") }}&emsp;Endtime:{{ f.Endtime|default("NA") }}</caption>
                 <tbody>
                    <tr>
                        <td style="text-align:center" >ScenariosPassNum </td>
                        <td style="text-align:center"> ScenariosFailedNum </td>
                        <td style="text-align:center"> ScenariosSkippedNum </td>
                        <td style="text-align:center"> ScenariosTotal </td>
                    </tr>
                    <tr>
                        <td style="text-align:center;color:green"> {{ f.ScenariosPassNum|default("NA") }} </td>
                        <td style="text-align:center;color:red"> {{ f.ScenariosFailedNum|default("NA") }}</td>
                        <td style="text-align:center;color:darkgrey"> {{ f.ScenariosSkippedNum|default("NA") }}</td>
                        <td style="text-align:center"> {{ f.ScenariosTotal|default("NA") }}</td>
                    </tr>
                 </tbody>
           </table>
        <br>
            <p style="text-align:left">
                <span> <b>&emsp;FailedScenarios:</b>
                {% for fs in f.FailedScenarios %}
                    <span> &emsp;&emsp;{{ fs }}</span>
                {% endfor %}
                </span>
            <br>
                <span><b> &emsp;PassScenarios:</b>
                {% for ps in f.PassScenarios %}
                    <span>  &emsp;&emsp;{{ ps }}</span>
                {% endfor %}
                </span>
            <br>
                <span><b>&emsp;Description:</b><br>
                    <span>  &emsp;&emsp;{{ f.Description|default("NA") }}     </span>
                 </span>
            </p>
            {% for s in f.scenarios %}
                <hr class="hrLine" style="width:100%;border:none;border-top:1px solid MediumOrchid"/>
        {% if s.Status == "Status.failed" %}
                <h4 style="text-align:left;color:red"><strong>&emsp;Scenario:{{ s.Scenario|default("NA") }}       &emsp;&emsp;{{ s.Status|default("NA") }} </strong></h4>
                {% else %}
                <h4 style="text-align:left;color:green"><strong>&emsp;Scenario:{{ s.Scenario|default("NA") }}     &emsp;  &emsp;{{ s.Status|default("NA") }} </strong></h4>
                {% endif %}
                    <table border="1" cellpadding="5" cellspacing="0" style="margin-left:2em">
                        <caption style="text-align:left;color:blueviolet">Statistical:<br> </caption>
                         <tbody>
                            <tr>
                                <td> StepsPassNum </td>
                                <td> StepsFailedNum </td>
                                <td> StepsSkippedNum </td>
                                <td> StepsTotal </td>
                                <td style="text-align:center"> Uptime </td>
                                <td style="text-align:center"> Begintime </td>
                                <td style="text-align:center"> Endtime </td>
                            </tr>
                            <tr>
                                <td style="text-align:center;color:green"> {{ s.StepsPassNum|default("NA") }} </td>
                                <td style="text-align:center;color:red"> {{ s.StepsFailedNum|default("NA") }}</td>
                                <td style="text-align:center;color:darkgrey"> {{ s.StepsSkippedNum|default("NA") }}</td>
                                <td style="text-align:center"> {{ s.StepsTotal|default("NA") }}</td>
                                <td> {{ s.Uptime|default("NA") }}</td>
                                <td> {{ s.Begintime|default("NA") }}</td>
                                <td> {{ s.Endtime|default("NA") }}</td>
                            </tr>
                         </tbody>
                   </table>
                <br>
                    <p style="text-align:left">
                        <span><b>&emsp;&emsp;FailedSteps:</b>
                            {% for fs in  s.FailedSteps %}
                                <span>   &emsp;&emsp;  {{ fs }}     </span>
                            {% endfor %}
                        </span>
                <br>
                        <span><b>&emsp;&emsp;PassSteps:</b>
                            {% for ps in s.PassSteps %}
                                <span>&emsp;&emsp;{{ ps }}</span>
                            {% endfor %}
                        </span>
                <br>
                        <span><b>&emsp;&emsp;Texts:</b></span>
                    </p>
                    <pre style="font-style:italic;font-family:微软雅黑">{{ s.Texts }}</pre>
<hr class="hrLine" style="width:100%;border:none;border-top:1px dotted  Coral"/>
            {% for p in s.steps %}
                {% if p.Status == "Status.failed" %}
                    <h5 style="text-align:left;color:red"><strong>&emsp;&emsp;Step:{{ p.Step }}  &emsp;&emsp;  {{ p.Status }} </strong></h5>
                {% else %}
                    <h5 style="text-align:left;color:greenyellow"><strong>&emsp;&emsp;Step:{{ p.Step }}  &emsp;&emsp;  {{ p.Status }} </strong></h5>
                {% endif %}
                 <p style="text-align:left">
                     <span><b>&emsp;&emsp;&emsp;Begintime:</b>  {{ p.Begintime|default("NA") }}   &emsp;</span>
                     <span><b>Endtime:</b>    {{ p.Endtime|default("NA") }}   &emsp;</span>
                     <span><b>Uptime:</b>     {{ p.Uptime|default("NA") }}   &emsp; </span>
            <br>
                     <span><b>&emsp;&emsp;&emsp;Logs: </b><br>
                     {% for log in  p.Logs %}
                          <span>&emsp;&emsp; &emsp;&emsp;{{ log }}<br></span>
                     {% endfor %}
                     </span>
            <br>
                  </p>
<hr class="hrLine" style="width:100%;border:none;border-top:1px dotted  Coral"/>
            {% endfor %}
<hr class="hrLine" style="width:100%;border:none;border-top:1px dotted MediumOrchid"/>
            {% endfor %}
<hr class="hrLine" style="width:100%;border:none;border-top:1px dotted skyblue "/>
{% endfor %}   
</body>
</html>